// Navigation Styles here

//styles for header navigation
header{
    .custom-layout(space-between, flex-end);
    border-bottom: 2px dashed silver;
    padding: @nav-padding;
    margin-top: @header-top-margin;

    div{
        width: @header-width;
    } // this closes the div

    nav{
        width: @header-width;
        .custom-layout(space-between, center);
        a{
            text-decoration: none;
            color: black;
            font-size: @nav-font;
            margin: @nav-margin;

        }// this closes the a tag
    }// this closes the nav
}// closes the header